
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  height: 80px;
  min-width: 1376px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: inline-flex;
  align-items: center;
  gap: 11.136px;
}

.logo__text {
  color: var(--Primary-text, #fff);
  font-family: var(--font-family-TITLE, Maximus);
  font-size: 18.512px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
